@mixin properties {
    background-color: var(--app-white);
    color: var(--base-color);
}

.link {
    text-transform: uppercase;

    padding: 15px 20px;

    color: var(--app-white);
    background-color: transparent;

    transition: background-color 0.3s ease-in-out;

    text-align: left;

    width: 100%;

    display: flex;
    align-items: center;

    &__active {
        @include properties();
    }

    &:hover {
        @include properties();
    }

    h1 {
        font-size: var(--xs-size);
    }
}